{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <div class="row">
        <div class="col-sm-6">
            <div class="profile profilebox profilegravatar" id="profile_gravatar">
                <img src="{{ gravatar(user.email) }}" alt=""/>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="profile profilebox profileaccount" id="profile_account">
                <div id="profile_account_username">{{ 'profile.show.username'|trans }}: {{ user.username }}</div>
                <div id="profile_account_email">{{ 'profile.show.email'|trans }}: {{ user.email }}</div>
                <div id="profile_account_locale">{{ 'Language'|trans }}: {{ language }}</div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="profile profilebox profilepersonal" id="profile_personal">
                <div id="profile_personal_firstname">{{ 'Firstname'|trans }}: {{ userprofile.firstName }}</div>
                <div id="profile_personal_lastname">{{ 'Lastname'|trans }}: {{ userprofile.lastName }}</div>
                <div id="profile_personal_birthday">{{ 'Birthday'|trans }}: {{ userprofile.birthDay|date('Y-m-d') }}</div>
                <div id="profile_personal_birthplace">{{ 'Birthplace'|trans }}: {{ userprofile.birthPlace }}</div>
                <div id="profile_personal_homepage">{{ 'Homepage'|trans }}: {{ userprofile.homepage }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="profile profilebox profilelocation" id="profile_location">
                <div id="profile_location_city">{{ 'City'|trans }}: {% if userprofile.city %}{{ userprofile.city.getName() }} (<a href="http://www.openstreetmap.org/#map=15/{{ userprofile.city.getLatitude() }}/{{ userprofile.city.getLongitude() }}">{{ 'Show on map'|trans }}</a>){% endif %}</div>
                <div id="profile_location_lat">{{ 'Latitude'|trans }}: {% if userprofile.city %}{{ userprofile.city.getLatitude() }}{% endif %}</div>
                <div id="profile_location_long">{{ 'Langitude'|trans }}: {% if userprofile.city %}{{ userprofile.city.getLongitude() }}{% endif %}</div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="profile profilebox profilecontact" id="profile_contact">
                <div id="profile_contact_icq">{{ 'ICQ'|trans }}: {{ userprofile.icq }}</div>
                <div id="profile_contact_skype">{{ 'Skype'|trans }}: {{ userprofile.skype }}</div>
                <div id="profile_contact_jabber">{{ 'Jabber'|trans }}: {{ userprofile.jabber }}</div>
                <div id="profile_contact_msn">{{ 'MSN'|trans }}: {{ userprofile.msn }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="profile profilebox profilesocial" id="profile_social">
                <div id="profile_social_facebook">{{ 'Facebook'|trans }}: {{ userprofile.facebook }}</div>
                <div id="profile_social_google">{{ 'Google+'|trans }}: {{ userprofile.google }}</div>
                <div id="profile_social_twitter">{{ 'Twitter'|trans }}: {{ userprofile.twitter }}</div>
                <div id="profile_social_identica">{{ 'Identi.ca'|trans }}: {{ userprofile.identica }}</div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="profile profilebox profileinfo" id="profile_info">
                <div id="profile_info_interests">{{ 'Interests'|trans }}: {{ userprofile.interests }}</div>
                <div id="profile_info_hobbies">{{ 'Hobbies'|trans }}: {{ userprofile.hobbies }}</div>
            </div>
        </div>
    </div>
</div>
