{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title }}</h3>
                    </div>
                    <div class="panel-body">








                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title }}</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">

                        <span class="bold">
                            At this moment, there are
                            <span class="h1" style="display:block;">{{ stats.usernum|number_format }}</span> users and
                            <span class="h1" style="display:block;">{{ stats.machinenum|number_format }}</span> machines registered.<br/>

                            <a href="{{ url('syw_front_main_stats_guess') }}">My guess</a> at the number of Linux users:<br/>

                            <span id="linux_user_guess" class="h1" style="display:block;">{{ stats.guestimate_users|number_format }}</span>

                            <small>World population: <span id="worldpop">{{ stats.world_population|number_format }}</span></small><br/>
                            <small>Internet users: <span id="internet_user">{{ stats.world_internet_users|number_format }}</span></small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
