{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title1 }}</h3>
                    </div>
                    <div class="panel-body">

                        <p>The intention of this project is to determine, how many linux users there are in the world. This is not that simple as it seems to be.</p>
                        <p> &nbsp; </p>
                        <p>It is VERY hard to get any real idea of the size of the Linux community.</p>
                        <p>In a sense, it is because we want it that way: we do NOT want anything like centralized control, and that means that we don't want anyone to say authoritatively how many people we are, either.</p>
                        <p>The only number we can be sure of is "many".</p>
                        <p>The lower limit is something like what is counted in the Linux Counter, but even this is not certain; people may have stopped using Linux after registering, or may be registered under 2 different emails.</p>
                        <p> &nbsp; </p>
                        <p>The Linux Counter also has several builtin drawbacks:</p>
                        <ul>
                            <li> Only people who run across mention of it on Linux enthusiast web pages are likely to hear about it, although several important Linux documents also mention it </li>
                            <li> Only people with E-mail or Web access can register with it </li>
                            <li> Accounts of people who forget to re-visit the website are deleted after two years.</li>
                            <li> And most importantly: Only people who *care* to be registered can be counted.  </li>
                        </ul>
                        <p>This all makes it hard to make any guess about the number of linux users world wide.</p>
                        <p> &nbsp; </p>
                        <p>But there are several known numbers we can play with. These numbers were researched and collected together from many different websites:</p>
                        <ul>
                            <li> In this second, we have <span class="worldpop">{{ stats.world_population|number_format }}</span> peoples on earth. (See for example: <a href="http://www.worldometers.info/">http://www.worldometers.info/</a>)</li>
                            <li> Actually we have a statistical number of <span class="internetpop">{{ stats.world_internet_users|number_format }}</span> internet users worldwide.</li>
                            <li> The average of linux users of all internet users seems to be at about 2.66 %. (Measured from the web statistics of many great pages)</li>
                            <li> The Presumption that there are about 0,7% of all linux users registered in our linux counter.</li>
                            <li> Bringing this all together gives us a very conservative guess of linux users that have access to the internet (should be at least 99% of all linux users). </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title2 }}</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">

                        <span class="bold">
                            At this moment, there are
                            <span class="h1" style="display:block;">{{ stats.usernum|number_format }}</span> users and
                            <span class="h1" style="display:block;">{{ stats.machinenum|number_format }}</span> machines registered.<br/>

                            My guess at the number of Linux users:<br/>

                            <span id="linux_user_guess" class="h1" style="display:block;">{{ stats.guestimate_users|number_format }}</span>

                            <small>World population: <span id="worldpop">{{ stats.world_population|number_format }}</span></small><br/>
                            <small>Internet users: <span id="internet_user">{{ stats.world_internet_users|number_format }}</span></small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
