{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title1 }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                This is the List of Accounts on the machines. This table is available as xml document and gets updated once each night:<br/>
                                » http://linuxcounter.net/xml/machines_countries.xml<br/>
                                You may use this xml file in your own page - But you have to add a short credits for linuxcounter.net: "Data provided by The New Linux Counter Project"
                                <p> &nbsp; </p>
                            </div>
                        </div>
                        {% for machine, accounts in stats.machine %}
                            {% for account in accounts %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <span class="progress-description">{{ account.accounts }}</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress">
                                            <div class="ui-progressbar-value progress-bar-value" style="position:absolute; z-index:1; padding-left: 20px;">{{ account.percent|round(2, 'common') }}%</div>
                                            <div class="progress-bar progress-bar-lico" role="progressbar" aria-valuenow="{{ account.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ account.percent }}%"><span class="sr-only"></span></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
