{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">

        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ title1 }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    This is the List of Accounts on the machines. This table is available as xml document and gets updated once each night:<br/>
                                    » http://linuxcounter.net/xml/machines_accounts.xml<br/>
                                    You may use this xml file in your own page - But you have to add a short credits for linuxcounter.net: "Data provided by The New Linux Counter Project"
                                    <p> &nbsp; </p>
                                </div>
                            </div>
                            {% for this in stats.accounts %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <span class="progress-description">{{ this.accounts }} Accounts</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress">
                                            <div class="ui-progressbar-value progress-bar-value" style="position:absolute; z-index:1; padding-left: 20px;">{{ this.percent|round(2, 'common') }}%</div>
                                            <div class="progress-bar progress-bar-lico" role="progressbar" aria-valuenow="{{ this.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ this.percent }}%"><span class="sr-only"></span></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ title2 }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    This is the List of machines per country. This table is available as xml document and gets updated once each night:<br/>
                                    » http://linuxcounter.net/xml/machines_countries.xml<br/>
                                    You may use this xml file in your own page - But you have to add a short credits for linuxcounter.net: "Data provided by The New Linux Counter Project"
                                    <p> &nbsp; </p>
                                </div>
                            </div>
                            {% for this in stats.countries %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <span class="progress-description">{{ this.country|raw }}</span>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress">
                                            <div class="ui-progressbar-value progress-bar-value" style="position:absolute; z-index:1; padding-left: 20px;">{{ this.percent|round(2, 'common') }}%</div>
                                            <div class="progress-bar progress-bar-lico" role="progressbar" aria-valuenow="{{ this.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ this.percent }}%"><span class="sr-only"></span></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'The estimation of linux users'|trans }}</h3>
                </div>
                <div class="panel-body" style="text-align: center;">
                    <span class="bold">
                        {{ 'At this moment, there are'|trans }}
                        <span class="h1" style="display:block;">{{ stats.guess.usernum|number_format }}</span> {{ 'users and'|trans }}
                        <span class="h1" style="display:block;">{{ stats.guess.machinenum|number_format }}</span> {{ 'machines registered.'|trans }}<br/>
                        {{ 'My guess at the number of Linux users:'|trans }}<br/>
                        <span id="linux_user_guess" class="h1" style="display:block;">{{ stats.guess.guestimate_users|number_format }}</span>
                        <small>{{ 'World population:'|trans }} <span id="worldpop">{{ stats.guess.world_population|number_format }}</span></small><br/>
                        <small>{{ 'Internet users:'|trans }} <span id="internet_user">{{ stats.guess.world_internet_users|number_format }}</span></small>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Links to other statistics'|trans }}</h3>
                </div>
                <div class="panel-body" style="text-align: center;">
                    <ul role="menu" style="text-align: left;">
                        <li><a href="{{ url('syw_front_main_stats_index') }}">{{ 'Statistics mainpage'|trans }}</a></li>
                        <li><a href="{{ url('syw_front_main_stats_users') }}">{{ 'User statistics'|trans }}</a></li>
                        <li><a href="{{ url('syw_front_main_stats_machines') }}">{{ 'Machine statistics'|trans }}</a></li>
                        <li><a href="{{ url('syw_front_main_stats_distributions') }}">{{ 'Distribution statistics'|trans }}</a></li>
                        <li><a href="{{ url('syw_front_main_stats_kernels') }}">{{ 'Kernel statistics'|trans }}</a></li>
                        <li><a href="{{ url('syw_front_main_stats_uptimes') }}">{{ 'Uptime statistics'|trans }}</a></li>
                        <li><a href="{{ url('syw_front_main_stats_counter') }}">{{ 'Linux Counter statistics'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
