{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'Contact us'|trans }}</h3>
                    </div>
                    <div class="panel-body">


                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <form action="{{ url('syw_front_main_main_contact') }}" method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}


                        <button type="submit">Send</button>


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
