{% extends "::base.html.twig" %}

{% block body %}

    <!-- container -->
    <div class="container">

        <div class="row">
            <h2 class="section-heading">Curriculum Vitae</h2>

            <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/lebenslauf-2015-03-13.seite01.jpg' }}" alt="">
            <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/lebenslauf-2015-03-13.seite02.jpg' }}" alt="">
            <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/lebenslauf-2015-03-13.seite03.jpg' }}" alt="">




        </div>
    </div>
    <!-- /container -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                {{ include('SywFrontMainBundle:Common:_social.html.twig') }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        {{ include('SywFrontMainBundle:Common:_navigation.html.twig') }}
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Alexander M. L&ouml;hner. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}