{% extends "::base.html.twig" %}

{% block body %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Alexander M. L&ouml;hner</h1>
                        <h3>Web developer, system admin, tech junkie, open source enthusiast and coffee addict</h3>
                        <hr class="intro-divider">
                        {{ include('SywFrontMainBundle:Common:_social.html.twig') }}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Web developer</h2>
                    <p class="lead">My passion is to write great SOA web applications and RESTful services with PHP(5+), (X)HTML(5), CSS(3), JQuery/Ajax, Bootstrap and available frameworks like Symfony2, together with automated testing through PHPUnit, Selenium, Jenkins and many more.<br/>
                    Here you can see some of my own projects. Some are very old and thus, the techniques and the design isn't up to date, but they are still in use and popular:</p>
                    <ul>
                        <li><a href="https://linuxcounter.net">LiCo - The New Linux Counter Project</a></li>
                        <li><a href="http://androidgateway.de">AndroidGateway.de</a></li>
                        <li><a href="http://apboard.org">APP - Another PHP Program - APBoard</a></li>
                        <li><a href="http://linux-guru.info">Linux Guru</a></li>
                        <li><a href="http://sharenotes.eu">Share your notes</a></li>
                        <li><a href="http://www.kv-wilhelmsdorf.de">Kulturverein Wilhelmsdorf e.V.</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/ipad.png' }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">System administrator</h2>
                    <p class="lead">For developing great web applications, you also need some kind of a web-, database- and mail-server. I'm using nginx and MariaDB since some years, together with postfix mail-server. Creating automated processes for deploying, testing and monitoring is a must and one of my greatest hobbies. I'm using the free operating system GNU/Linux since 1998 and I love to administrate all kinds of linux systems and server environments.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/dog.png' }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tech junkie</h2>
                    <p class="lead">I'm a tech junkie at its finest and always trying to create cool things by myself. I'm working a lot with the Raspberry Pi and I'm doing really cool things with it. Actually I've created a home automation system with one Raspberry Pi, including voice recognition and voice control and a media center with another one.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/phones.png' }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Open Source Enthusiast</h2>
                    <p class="lead">I'm of the conviction that everything should be open source and free in the meaning of freedom. Thus I'm a great enthusiast of linux and of software that is licensed in a way that allows me to modify it to fit my needs. That of course doesn't mean, that I'm not willing to pay for a good piece of software. There are great open source projects out there, that nevertheless cost money and I'd purchase it, if I need it. &quot;Free&quot; doesn't mean free of charge - &quot;Free&quot; means freedom!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/os.jpg' }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Coffee addict</h2>
                    <p class="lead">There still is this picture of someone sitting on front of a computer, with some thick glasses on his nose and drinking coffee while developing software. The typical picture of a real nerd. And yes, I'm such a nerd.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/coffee.png' }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                {{ include('SywFrontMainBundle:Common:_social.html.twig') }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        {{ include('SywFrontMainBundle:Common:_navigation.html.twig') }}
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Alexander M. L&ouml;hner. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}