{% extends "::base.html.twig" %}

{% block body %}

    {{ include('SywFrontMainBundle:Common:_carousel.html.twig') }}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle"
                     src="{{ 'bundles/sywfrontmain/images/heading.circle.001.jpg' }}"
                     alt="Generic placeholder image" width="140" height="140">

                <h2>{{ 'Statistics'|trans }}</h2>

                <p>{{ 'We are providing the most accurate and complete statistics about linux and its distributions, users, kernels and machines in the world wide web.'|trans }} {{ 'This also includes statistics about users per country or city, most used cpus, top uptimes lists and much more.'|trans }}</p>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_stats_index') }}" role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="{{ 'bundles/sywfrontmain/images/heading.circle.002.jpg' }}"
                     alt="Generic placeholder image" width="140" height="140">

                <h2>{{ 'Linux users in the world'|trans }}</h2>

                <p>{{ 'Our guess of how many linux users there are in the world, is probably the closest guess you can get.'|trans }} {{ 'This is measured by the access logs of many great websites, together with our statistics and the statistical numbers of <a href="http://www.worldometers.info/">worldometers.info</a>.'|trans|raw }}</a></p>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_stats_guess') }}" role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="{{ 'bundles/sywfrontmain/images/heading.circle.003.jpg' }}"
                     alt="Generic placeholder image" width="140" height="140">

                <h2>{{ 'Service and RESTful API'|trans }}</h2>

                <p>{{ 'All of our generated data and statistics is publicy available either through direct download of the nightly generated XML files or through our cool, RESTful API.'|trans }}</p>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_api_index') }}" role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

    </div>
    <p> &nbsp; </p>
    <p> &nbsp; </p>
    <p> &nbsp; </p>

{% endblock %}
