<!-- /END THE FEATURETTES -->

<div class="footercontainer">
    <a name="contact"></a>

    <div class="banner">
        <div class="content">
            <!-- ... -->
            <form action="{{ path('syw_front_main_main_lang') }}" method="post">
                <select name="language" id="languages">
                    {% for language in languages %}
                        <option value="{{ language.locale }}"
                                {% if app.request.getLocale() == language.locale %}selected="selected"{% endif %}> {{ language.language }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="{{ 'Choose language...'|trans }}">
            </form>
        </div>
        <p> &nbsp; </p>

        <div class="footerlinks">
            <div class="content">
                <a href="{{ url('syw_front_main_main_index') }}">{{ 'Home'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_stats_index') }}">{{ 'Statistics mainpage'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_main_download') }}">{{ 'Download'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_main_about') }}">{{ 'About'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_main_faq') }}">{{ 'FAQ'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_main_impressum') }}">{{ 'Imprint'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_main_contact') }}">{{ 'Contact'|trans }}</a><br/>
                <a href="https://github.com/alexloehner/linuxcounter.new/issues">{{ 'Bugtracker'|trans }}</a> &middot;
                <a href="https://github.com/alexloehner/linuxcounter.new">{{ 'Code base'|trans }}</a> &middot;
                <a href="https://travis-ci.org/alexloehner/linuxcounter.new">{{ 'Unittests'|trans }}</a> &middot;
                <a href="https://www.versioneye.com/user/projects/5509756b4996ebef3300004f">{{ 'Dependencies'|trans }}</a> &middot;
                <a href="https://github.com/alexloehner/linuxcounter.new/blob/master/LICENSE">{{ 'License'|trans }}</a> &middot;
                <a href="{{ url('syw_front_main_main_sponsor') }}">{{ 'Sponsor'|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    &middot; <a href="{{ url('news_admin_list') }}">{{ 'News-Admin'|trans }}</a>
                    &middot; <a href="{{ url('admin') }}">{{ 'Administration'|trans }}</a>
                {% endif %}
                <br/>
            </div>
        </div>
        <p> &nbsp; </p>

        <div class="container">
            <p> &nbsp; </p>

            <div class="row">
                {{ include('SywFrontMainBundle:Common:_social.html.twig') }}
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <!-- FOOTER -->
    <footer>
        <p>
            <a href="https://travis-ci.org/alexloehner/linuxcounter.new"><img
                        src="https://travis-ci.org/alexloehner/linuxcounter.new.svg?branch=master"/></a>
            <a href="https://github.com/alexloehner/linuxcounter.new/issues"><img
                        src="https://img.shields.io/github/issues/alexloehner/linuxcounter.new.svg" alt=""/></a>
            <a href="https://coveralls.io/r/alexloehner/linuxcounter.new"><img
                        src="https://coveralls.io/repos/alexloehner/linuxcounter.new/badge.svg"/></a>
            <a href="https://scrutinizer-ci.com/g/alexloehner/linuxcounter.new/?branch=master"><img
                        src="https://scrutinizer-ci.com/g/alexloehner/linuxcounter.new/badges/quality-score.png?b=master"/></a>
            <a href="https://codeclimate.com/github/alexloehner/linuxcounter.new"><img
                        src="https://codeclimate.com/github/alexloehner/linuxcounter.new/badges/gpa.svg"/></a>
            <a href="https://www.versioneye.com/user/projects/5509756b4996ebef3300004f"><img
                        src="https://www.versioneye.com/user/projects/5509756b4996ebef3300004f/badge.svg?style=flat"/></a>
        </p>

        <p class="copyright">LiCo is <a href="http://linuxcounter.net/sponsor.html">fully sponsored</a> by <a
                    href="https://www.first-colo.net/" target="_blank">First Colo</a>.<br/>
            LiCo, LinuxCounter.net, LiCo - The New Linux Counter Project - linuxcounter.net, Copyright © 2011
            - {{ "now"|date('Y') }} by <a href="https://github.com/alexloehner">Alexander Löhner</a>. All rights
            reserved.<br>
            The code of The New Linux Counter Project is licensed under the <a
                    href="https://github.com/alexloehner/linuxcounter.new/blob/master/LICENSE">GPL v3</a>.<br>
            Original project counter.li.org © 1993 - 2011 by Harald Tveit Alvestrand &amp; the Linux Counter Project -
            Linux is a registered trademark of Linus Torvalds.</p>
    </footer>

</div>
