<li>
    <a href="{{ url('syw_front_main_main_index') }}">Home</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_index') }}#about">About</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_index') }}#services">Services</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_index') }}#contact">Contact</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_cv') }}">Curriculum Vitae</a>
</li>
