<li>
    <a href="{{ url('syw_front_main_main_index') }}">Home</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_about') }}">About</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_stats_index') }}">Statistics</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_download') }}">Download</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_user_login') }}">Login</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_user_register') }}">Register</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_support') }}">Support</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_impressum') }}">Impressum</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_contact') }}">Contact</a>
</li>
