<li>
    <a href="{{ url('syw_front_main_main_index') }}"><span class="fa fa-home"></span>{{ 'Home'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_about') }}">{{ 'About'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'Statistics'|trans }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url('syw_front_main_stats_index') }}">{{ 'Statistics mainpage'|trans }}</a></li>
        <li><a href="#">{{ 'User statistics'|trans }}</a></li>
        <li><a href="#">{{ 'Machine statistics'|trans }}</a></li>
        <li><a href="#">{{ 'Distribution statistics'|trans }}</a></li>
        <li><a href="#">{{ 'Kernel statistics'|trans }}</a></li>
        <li><a href="#">{{ 'Uptime statistics'|trans }}</a></li>
    </ul>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_download') }}">{{ 'Download'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_support') }}">{{ 'Support'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_impressum') }}">{{ 'Impressum'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_contact') }}">{{ 'Contact'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'Account'|trans }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url('fos_user_profile_show') }}">{{ 'Show Profile'|trans }}</a></li>
            <li><a href="{{ url('syw_front_main_public_profile', {'counternumber': user.getId()}) }}">{{ 'Show public Profile'|trans }}</a></li>
            <li><a href="{{ url('fos_user_profile_edit') }}">{{ 'Edit Account'|trans }}</a></li>
            <li><a href="{{ url('syw_front_main_info_edit') }}">{{ 'Edit Profile'|trans }}</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'Counter data'|trans }}</li>
            <li><a href="#">{{ 'Show user information'|trans }}</a></li>
            <li><a href="#">{{ 'Show machines'|trans }}</a></li>
        </ul>
    </li>
    <li class="footer-menu-divider">&sdot;</li>
    <li>
        <a href="{{ url('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="footer-menu-divider">&sdot;</li>
        <li>
            <a href="{{ url('admin') }}"><span class="fa fa-exclamation-triangle"></span>{{ 'Admin'|trans }}</a>
        </li>
    {% endif %}
{% else %}
    <li>
        <a href="{{ url('fos_user_security_login') }}">{{ 'Sign in'|trans }}</a>
    </li>
    <li class="footer-menu-divider">&sdot;</li>
    <li>
        <a href="{{ url('fos_user_registration_register') }}">{{ 'Sign up'|trans }}</a>
    </li>
{% endif %}
