<li>
    <a href="{{ url('syw_front_main_main_index') }}"><span class="fa fa-home"></span>{{ 'Home'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('news_homepage') }}"><span class="fa fa-newspaper-o"></span>{{ 'News'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'Statistics'|trans }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url('syw_front_main_stats_index') }}">{{ 'Statistics mainpage'|trans }}</a></li>
        <li><a href="{{ url('syw_front_main_stats_users') }}">{{ 'User statistics'|trans }}</a></li>
        <li><a href="{{ url('syw_front_main_stats_machines') }}">{{ 'Machine statistics'|trans }}</a></li>
        <li><a href="{{ url('syw_front_main_stats_distributions') }}">{{ 'Distribution statistics'|trans }}</a></li>
        <li><a href="{{ url('syw_front_main_stats_kernels') }}">{{ 'Kernel statistics'|trans }}</a></li>
        <li><a href="{{ url('syw_front_main_stats_uptimes') }}">{{ 'Uptime statistics'|trans }}</a></li>
        <li class="footer-menu-divider">&sdot;</li>
        <li><a href="{{ url('syw_front_main_stats_counter') }}">{{ 'Linux Counter statistics'|trans }}</a></li>
    </ul>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_download') }}">{{ 'Download'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_api_default_index') }}">{{ 'API'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_about') }}">{{ 'About'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_faq') }}">{{ 'FAQ'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_impressum') }}">{{ 'Imprint'|trans }}</a>
</li>
<li class="footer-menu-divider">&sdot;</li>
<li>
    <a href="{{ url('syw_front_main_main_contact') }}">{{ 'Contact'|trans }}</a>
</li>
