{% trans_default_domain 'messages' %}

<div class="fos_user_user_show">

    {% if (thisprivacy.getSecretProfile() == 1) %}
        <div class="row">
            This user has secured his profile.
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-3 leftside">

                <div class="profilegravatar" id="profile_gravatar">
                    <img src="{{ gravatar(thisuser.email) }}" alt=""/>
                </div>
                {% if (thisprivacy.getShowRealName() == 0) %}
                    <div class="profile_realname">
                        &nbsp;
                    </div>
                {% else %}
                    {% if (thisuserprofile.firstName or thisuserprofile.lastName) %}
                        <div class="profile_realname">
                            {% if thisuserprofile.firstName %}{{ thisuserprofile.firstName }}{% endif %}{% if thisuserprofile.lastName %} {{ thisuserprofile.lastName }}{% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="profile_username">
                    {% if (thisprivacy.getShowRealName() == 0) %}
                    <div class="profile_realname">
                        &nbsp;
                    </div>
                    {% else %}
                        {{ thisuser.username }}
                    {% endif %}
                </div>
                <div class="profile_hr">
                    <hr size="1" noshade="noshade"/>
                </div>
                <div class="profile_personalinfo">
                    {% if thisuserprofile.city %}
                        <div class="profile_city"><span
                                class="fa fa-location-arrow"></span> {{ thisuserprofile.city.getName() }} (<a
                                href="http://www.openstreetmap.org/#map=15/{{ thisuserprofile.city.getLatitude() }}/{{ thisuserprofile.city.getLongitude() }}">{{ 'Show on map'|trans }}</a>)
                        </div>{% endif %}
                    {% if (thisprivacy.getShowEmail() == 0) %}
                        <div class="profile_email"><span class="fa fa-envelope"></span> ~</div>
                    {% else %}
                        <div class="profile_email"><span class="fa fa-envelope"></span> {{ thisuser.email }}</div>
                    {% endif %}
                    <div class="profile_homepage"><span
                                class="fa fa-anchor"></span> {% if thisuserprofile.homepage %}{{ thisuserprofile.homepage }}{% else %}No homepage yet{% endif %}
                    </div>
                    <div class="profile_language"><span class="fa fa-flag"></span> {{ language }}</div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'Personal information'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                <div id="profile_personal_firstname">{{ 'Firstname'|trans }}: {{ thisuserprofile.firstName }}</div>
                                <div id="profile_personal_lastname">{{ 'Lastname'|trans }}: {{ thisuserprofile.lastName }}</div>
                                <div id="profile_personal_birthday">{{ 'Birthday'|trans }}: {{ thisuserprofile.birthDay|date('Y-m-d') }}</div>
                                <div id="profile_personal_birthplace">{{ 'Birthplace'|trans }}: {{ thisuserprofile.birthPlace }}</div>
                                <div id="profile_personal_homepage">{{ 'Homepage'|trans }}: <a
                                            href="{{ thisuserprofile.homepage }}">{{ thisuserprofile.homepage|length > 30 ? thisuserprofile.homepage|slice(0, 30) ~ '...' : thisuserprofile.homepage }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'Location information'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                {% if (thisprivacy.getShowLocation() == 1) %}
                                <div id="profile_location_city">{{ 'City'|trans }}: {% if thisuserprofile.city %}{{ thisuserprofile.city.getName() }} (<a
                                            href="http://www.openstreetmap.org/#map=15/{{ thisuserprofile.city.getLatitude() }}/{{ thisuserprofile.city.getLongitude() }}">{{ 'Show on map'|trans }}</a>){% endif %}
                                </div>
                                <div id="profile_location_lat">{{ 'Latitude'|trans }}: {% if thisuserprofile.city %}{{ thisuserprofile.city.getLatitude() }}{% endif %}</div>
                                <div id="profile_location_long">{{ 'Langitude'|trans }}: {% if thisuserprofile.city %}{{ thisuserprofile.city.getLongitude() }}{% endif %}</div>
                                {% else %}
                                    This user has secured his location information
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'Contact information'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                {% if (thisprivacy.getSecretContactInfo() == 0) %}
                                <div id="profile_contact_icq">{{ 'ICQ'|trans }}: {{ thisuserprofile.icq }}</div>
                                <div id="profile_contact_skype">{{ 'Skype'|trans }}: {{ thisuserprofile.skype }}</div>
                                <div id="profile_contact_jabber">{{ 'Jabber'|trans }}: {{ thisuserprofile.jabber }}</div>
                                <div id="profile_contact_msn">{{ 'MSN'|trans }}: {{ thisuserprofile.msn }}</div>
                                {% else %}
                                    This user has secured his contact information
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'Social information'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                {% if (thisprivacy.getSecretSocialInfo() == 0) %}
                                <div id="profile_social_facebook">{{ 'Facebook'|trans }}: <a
                                            href="{{ thisuserprofile.facebook }}">{{ thisuserprofile.facebook|length > 30 ? thisuserprofile.facebook|slice(0, 30) ~ '...' : thisuserprofile.facebook }}</a>
                                </div>
                                <div id="profile_social_google">{{ 'Google+'|trans }}: <a
                                            href="{{ thisuserprofile.google }}">{{ thisuserprofile.google|length > 30 ? thisuserprofile.google|slice(0, 30) ~ '...' : thisuserprofile.google }}</a>
                                </div>
                                <div id="profile_social_twitter">{{ 'Twitter'|trans }}: {{ thisuserprofile.twitter }}</div>
                                <div id="profile_social_identica">{{ 'Identi.ca'|trans }}: {{ thisuserprofile.identica }}</div>
                                {% else %}
                                    This user has secured his social information
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'Other information'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                <div id="profile_info_interests">{{ 'Interests'|trans }}: {{ thisuserprofile.interests }}</div>
                                <div id="profile_info_hobbies">{{ 'Hobbies'|trans }}: {{ thisuserprofile.hobbies }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="profile_hr">
                <hr size="1" noshade="noshade"/>
            </div>
        </div>
        <div class="row">


        </div>
    {% endif %}
</div>
